In [65]:
import pandas as pd

In [66]:
# example ride data
ride_data = pd.read_csv('mad_tea_party.csv')
ride_data

              date             datetime  SACTMIN  SPOSTMIN
0       01/01/2015  2015-01-01 07:37:12      NaN       5.0
1       01/01/2015  2015-01-01 07:44:12      NaN       5.0
2       01/01/2015  2015-01-01 07:51:12      NaN       5.0
3       01/01/2015  2015-01-01 09:09:16      NaN       5.0
4       01/01/2015  2015-01-01 09:16:12      NaN       5.0
...            ...                  ...      ...       ...
303941  12/28/2021  2021-12-28 22:35:34      NaN       5.0
303942  12/28/2021  2021-12-28 22:42:15      NaN       5.0
303943  12/28/2021  2021-12-28 22:48:12      NaN       5.0
303944  12/28/2021  2021-12-28 22:54:10      NaN       5.0
303945  12/28/2021  2021-12-28 23:00:27      NaN       5.0

[303946 rows x 4 columns]

In [72]:
park_metadata = pd.read_csv('park_metadata.csv')
# check that dates are unique
#len(park_metadata) == len(list(set(park_metadata['DATE'])))

,Ride_name,Park_location,Park_area,Ride_type_all,Ride_type_thrill,Ride_type_spinning,Ride_type_slow,Ride_type_small_drops,Ride_type_big_drops,Ride_type_dark,...,Age_interest_teens,Age_interest_adults,Height_req_inches,Ride_duration_min,Open_date,Age_of_ride_days,Age_of_ride_years,Age_of_ride_total,TL_rank,TA_Stars
0,Alien Swirling Saucers,HS,Toy Story Land,spinning,No,Yes,No,No,No,No,...,Yes,Yes,32,1.50,2018-06-30,480,1.314168,1 years 3 months 24 days,31.0,NaN
1,Astro Orbiter,MK,Tomorrowland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,1995-02-25,9006,24.657084,24 years 7 months 27 days,43.0,3.5
2,Avatar Flight of Passage,AK,Pandora,thrill,Yes,No,No,No,No,No,...,Yes,Yes,44,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,9.0,5.0
3,Big Thunder Mountain Railroad,MK,Frontierland,"thirll, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,40,3.50,1980-09-23,14274,39.080082,39 years 0 months 29 days,8.0,4.5
4,Buzz Lightyear's Space Ranger Spin,MK,Tomorrowland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,4.00,1998-10-07,7686,21.043121,21 years 0 months 15 days,32.0,4.5
5,Dinosaur,AK,Dinoland USA,"thrill, small drops, dark, scary",Yes,No,No,Yes,No,Yes,...,Yes,Yes,40,3.25,1998-04-22,7854,21.503080,21 years 6 months 2 days,24.0,4.0
6,Dumbo the Flying Elephant,MK,Fantasyland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,29.0,4.5
7,Expedition Everest,AK,Asia,"thrill, big drops, dark",Yes,No,No,No,Yes,Yes,...,Yes,Yes,44,2.75,2006-04-07,4947,13.544148,13 years 6 months 17 days,1.0,5.0
8,Frozen Ever After,EC,World Showcase,"slow, small drops, dark",No,No,Yes,Yes,No,Yes,...,Yes,Yes,0,5.00,2016-06-21,1219,3.337440,3 years 4 months 3 days,27.0,4.0
9,Gran Fiesta Tour Starring The Three Caballeros,EC,World Showcase,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,8.00,2007-04-02,4587,12.558522,12 years 6 months 22 days,47.0,4.0
10,Haunted Mansion,MK,Liberty Square,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,7.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,2.0,4.5
11,It's a Small World,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,10.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,16.0,4.0
12,Journey Into Imagination with Figment,EC,Future World,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,11.00,2002-06-01,6353,17.393566,17 years 4 months 23 days,53.0,3.0
13,Jungle Cruise,MK,Adventureland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,9.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,19.0,4.0
14,Kali River Rapids,AK,Asia,"thrill, water, small drops, spinning",Yes,Yes,No,Yes,No,No,...,Yes,Yes,38,3.50,1999-02-15,7555,20.684463,20 years 8 months 6 days,21.0,4.5
15,Kilimanjaro Safaris,AK,Africa,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,18.50,1998-04-22,7854,21.503080,21 years 6 months 2 days,11.0,4.5
16,Living with the Land,EC,Future World,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,13.75,1982-10-01,13536,37.059548,37 years 0 months 21 days,42.0,4.0
17,Mad Tea Party,MK,Fantasyland,spinning,No,Yes,No,No,No,No,...,Yes,Yes,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,20.0,4.0
18,Main Street Vehicles,MK,Main Street USA,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,3.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,NaN,4.5
19,Mission Space,EC,Future World,"thrill, spinning, dark",Yes,Yes,No,No,No,Yes,...,Yes,Yes,40,5.75,2003-10-01,5866,16.060233,16 years 0 months 22 days,33.0,3.5
20,Na'vi River Journey,AK,Pandora,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,25.0,4.0
21,Peter Pan's Flight,MK,Fantasyland,"slow, small drops",No,No,Yes,Yes,No,No,...,Yes,Yes,0,2.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,18.0,4.0
22,Pirates of the Caribbean,MK,Adventureland,"slow, small drops, dark",No,No,Yes,Yes,No,Yes,...,Yes,Yes,0,8.50,1973-12-17,16746,45.848049,45 years 10 months 5 days,12.0,4.5
23,Primeval Whirl,AK,Dinoland USA,"thrill, small drops, spinning",Yes,Yes,No,Yes,No,No,...,Yes,Yes,48,1.25,2002-04-18,6397,17.514031,17 years 6 months 6 days,41.0,4.0
24,Prince Charming Regal Carrousel,MK,Fantasyland,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,2.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,51.0,4.5
25,Rock 'n' Roller Coaster,HS,Sunset Boulevard,"thrill, big drops",Yes,No,No,No,Yes,No,...,Yes,Yes,48,1.25,1999-07-29,7391,20.235455,20 years 2 months 26 days,13.0,5.0
26,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,38,2.50,2014-05-28,1974,5.404517,5 years 4 months 27 days,10.0,4.5
27,Slinky Dog Dash,HS,Toy Story Land,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,38,2.00,2018-06-30,480,1.314168,1 years 3 months 24 days,14.0,NaN
28,Soarin' Around the World,EC,Future World,"slow, small drops",No,No,Yes,Yes,No,No,...,Yes,Yes,40,5.00,2005-05-05,5284,14.466804,14 years 5 months 19 days,4.0,4.5
29,Space Mountain,MK,Tomorrowland,"thrill, big drops, dark",Yes,No,No,No,Yes,Yes,...,Yes,Yes,44,2.50,1975-01-15,16352,44.769336,44 years 9 months 7 days,5.0,4.5
30,Spaceship Earth,EC,Future World,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,15.00,1982-10-01,13536,37.059548,37 years 0 months 21 days,22.0,4.5
31,Splash Mountain,MK,Frontierland,"thrill, water, big drops",Yes,No,No,No,Yes,No,...,Yes,Yes,40,11.00,1992-07-17,9959,27.266256,27 years 3 months 7 days,7.0,4.5
32,Star Tours,HS,Echo Lake,small drops,No,No,No,Yes,No,No,...,Yes,Yes,40,5.00,1989-12-15,10904,29.853525,29 years 10 months 7 days,15.0,4.5
33,Test Track,EC,Future World,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,40,4.00,1999-03-16,7526,20.605065,20 years 7 months 8 days,23.0,4.5
34,The Barnstormer,MK,Fantasyland,small drops,No,No,No,Yes,No,No,...,No,No,35,1.00,1996-10-01,8422,23.058179,23 years 0 months 21 days,36.0,3.5
35,The Magic Carpets of Aladdin,MK,Adventureland,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,2001-05-23,6727,18.417522,18 years 5 months 1 days,44.0,4.0
36,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,3.25,1999-06-05,7445,20.383299,20 years 4 months 19 days,28.0,4.0
37,The Twilight Zone Tower of Terror,HS,Sunset Boulevard,"thrill, big drops, dark, scary",Yes,No,No,No,Yes,Yes,...,Yes,Yes,40,5.00,1994-07-22,9224,25.253936,25 years 3 months 2 days,3.0,5.0
38,Tomorrowland Speedway,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,32,4.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,38.0,3.5
39,Tomorrowland Transit Authority PeopleMover,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,10.00,1975-07-01,16185,44.312115,44 years 3 months 23 days,30.0,4.0
40,Toy Story Mania,HS,Toy Story Land,spinning,No,Yes,No,No,No,No,...,Yes,Yes,0,8.00,2008-05-31,4162,11.394935,11 years 4 months 24 days,6.0,4.5
41,TriceraTop Spin,AK,Dinoland USA,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,2002-03-31,6415,17.563313,17 years 6 months 24 days,45.0,4.0
42,Under the Sea,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,6.25,2012-12-06,2512,6.877481,6 years 10 months 16 days,34.0,4.5
43,Walt Disney World Railroad,MK,Main Street USA,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,20.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,48.0,4.0
44,Walt Disney's Carousel of Progress,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,20.75,1975-01-15,16352,44.769336,44 years 9 months 7 days,52.0,4.0
45,Wildlife Express Train,AK,Africa,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,12.00,1998-04-22,7854,21.503080,21 years 6 months 2 days,NaN,3.5

In [68]:
park_metadata

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,01/01/2015,NaN,5,0,0,1,2015,CHRISTMAS PEAK,0,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,01/02/2015,NaN,6,1,0,1,2015,CHRISTMAS,2,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,01/03/2015,NaN,7,2,0,1,2015,CHRISTMAS,3,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,01/04/2015,NaN,1,3,1,1,2015,CHRISTMAS,4,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,01/05/2015,NaN,2,4,1,1,2015,CHRISTMAS,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2074,08/27/2021,NaN,6,238,34,8,2021,NaN,11,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2075,08/28/2021,NaN,7,239,34,8,2021,NaN,10,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2076,08/29/2021,NaN,1,240,35,8,2021,NaN,9,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2077,08/30/2021,NaN,2,241,35,8,2021,NaN,8,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2078,08/31/2021,NaN,3,242,35,8,2021,NaN,7,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [69]:
ride_data['DATE'] = ride_data['date']

In [70]:
merge_data = pd.merge(ride_data, park_metadata, how = 'inner', on = 'DATE')
merge_data

,date,datetime,SACTMIN,SPOSTMIN,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,01/01/2015,2015-01-01 07:37:12,NaN,5.0,01/01/2015,NaN,5,0,0,1,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,01/01/2015,2015-01-01 07:44:12,NaN,5.0,01/01/2015,NaN,5,0,0,1,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,01/01/2015,2015-01-01 07:51:12,NaN,5.0,01/01/2015,NaN,5,0,0,1,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,01/01/2015,2015-01-01 09:09:16,NaN,5.0,01/01/2015,NaN,5,0,0,1,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,01/01/2015,2015-01-01 09:16:12,NaN,5.0,01/01/2015,NaN,5,0,0,1,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266936,08/31/2021,2021-08-31 20:47:24,NaN,5.0,08/31/2021,NaN,3,242,35,8,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266937,08/31/2021,2021-08-31 20:54:12,NaN,5.0,08/31/2021,NaN,3,242,35,8,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266938,08/31/2021,2021-08-31 21:00:17,NaN,5.0,08/31/2021,NaN,3,242,35,8,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266939,08/31/2021,2021-08-31 21:01:11,NaN,-999.0,08/31/2021,NaN,3,242,35,8,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266940,08/31/2021,2021-08-31 21:12:17,NaN,-999.0,08/31/2021,NaN,3,242,35,8,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [71]:
merge_data = merge_data.drop(columns = ['DATE'])
merge_data

,date,datetime,SACTMIN,SPOSTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,01/01/2015,2015-01-01 07:37:12,NaN,5.0,NaN,5,0,0,1,2015,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,01/01/2015,2015-01-01 07:44:12,NaN,5.0,NaN,5,0,0,1,2015,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,01/01/2015,2015-01-01 07:51:12,NaN,5.0,NaN,5,0,0,1,2015,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,01/01/2015,2015-01-01 09:09:16,NaN,5.0,NaN,5,0,0,1,2015,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,01/01/2015,2015-01-01 09:16:12,NaN,5.0,NaN,5,0,0,1,2015,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266936,08/31/2021,2021-08-31 20:47:24,NaN,5.0,NaN,3,242,35,8,2021,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266937,08/31/2021,2021-08-31 20:54:12,NaN,5.0,NaN,3,242,35,8,2021,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266938,08/31/2021,2021-08-31 21:00:17,NaN,5.0,NaN,3,242,35,8,2021,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266939,08/31/2021,2021-08-31 21:01:11,NaN,-999.0,NaN,3,242,35,8,2021,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
266940,08/31/2021,2021-08-31 21:12:17,NaN,-999.0,NaN,3,242,35,8,2021,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN